# Sensitive files
export.xml
*.csv
temp_preprocessed_export.xml

# macOS-specific
.DS_Store
._*

# Python virtual environment
venv/
.venv/

# Python cache
*.pyc
__pycache__/

# VS Code settings
.vscode/

# Logs and temporary files
*.log
